<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="KonakartProject">
	<suite-files>
		<suite-file
			path="./src/test/resources/SuiteFile/validateproductoutcome.xml"></suite-file>
			<suite-file
			path="./src/test/resources/SuiteFile/validateproductdetails.xml"></suite-file>
	</suite-files>
</suite>
